<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404987780601-hro1aijmohdror4ogge49drsgevpcunn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404987780601-hro1aijmohdror4ogge49drsgevpcunn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404987780601-uk7f3orotlu7vmblhb67nl2k5g5m8doq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbOqe6fTDwAkU_7rJw2BfBbPNG2Bnj240</string>
	<key>GCM_SENDER_ID</key>
	<string>404987780601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs148.FoundIt</string>
	<key>PROJECT_ID</key>
	<string>foundit-ac051</string>
	<key>STORAGE_BUCKET</key>
	<string>foundit-ac051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404987780601:ios:108c329f2f9c3738ccf128</string>
</dict>
</plist>